*{
margin: 2px;
padding: 0px;
box-sizing : border-box;
}
p.p1{
box-sizing: content-box;
width: 50%;
border: dotted #696969 20px;
padding: 5px;
} 
.body{
font-size: 20px;
overflow-x: hidden;
color: silver;
font-family: 'Pangolin', cursive;
}
header{
background-image: url("Diary1.jpeg");
background-size: cover;
background-repeat: no repeat;
height: 100vh;
width: 100vw;
}
.clearfix:after{
content: ".";
visibility: hidden;
display: block;
height: 0px;
clear: both;
}
.row{
max-width: 1160px;
margin: 0 auto;
}
.logo{
height: 100px;
width: auto;
float: left;
margin-top: 50px;
}
.main-nav{
float: right;
margin-top: 60px;
}
.main-nav li{
display: inline-block;
list-style: none;
margin-left: 40px;
}
.main-nav li a{
padding: 5px 0;
color: #fff;
text-decoration: none;
text-transform : uppercase;
font-size: 90%;
font-width: 100px;
}
.main-nav li a:hover{
border-bottom: 2px solid #bf55ec;
}
.main-content-header{
width: 1180px;
position: absolute;

top: 55%;
left: 50%;
transform: translate(-50%, -50%)
}
h1{
color: #FFF;
font-size: 42px;
word-spacing: 5px;
letter-spacing: 3px;
margin-bottom: 20px;
text-transform: uppercase;
font-weight: lighter;
}
.btn{
display: inline-block;
padding: 10px 30px;
font-weight: lighter;
text-decoration: none;
text-transform: uppercase;
border-radius: 200px;
transition: background-color 0.2%, border 0.2%, color 0.2%;
}
.btn-full{
background-color: transparent;
color: #fff;
margin-right: 15px;
border: 1px solid #0000CD;
}
.btn-full:hover{
background-color: #00BFFF;
}
.btn-nav{
background-color: transparent;
color: #fff;
border: 1px solid #006400;
}
.btn-nav:hover{
background-color: #98FB98;
}

